<!DOCTYPE html>
<html>

<head>
    <title>Cyber Threat Detector</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>AI Cybersecurity Threat Detector</h1>

    <p>
        Analyze suspicious URLs and monitor threats.
    </p>

    <form action="/check_url" method="POST">

        <input
            type="text"
            name="url"
            placeholder="Enter suspicious URL..."
            required
        >

        <button type="submit">
            Analyze
        </button>

    </form>

    {% if result %}

        <div class="result-box">

            <h2>{{ result }}</h2>

            <p>
                URL Checked:
                <strong>{{ url }}</strong>
            </p>

        </div>

    {% endif %}

</div>

</body>
</html>