<!DOCTYPE html>
<html>
<head>
    <title>Cyber Threat Detector</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>AI Cybersecurity Threat Detector</h1>

    <p>
        Analyze suspicious URLs and monitor threats.
    </p>

    <form>
        <input
            type="text"
            placeholder="Enter suspicious URL..."
        >

        <button type="submit">
            Analyze
        </button>
    </form>

</div>

</body>
</html>